# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Debug
debug.json

# Jupyter
.ipynb_checkpoints/

# Python cache
.pytest_cache/

# Environment variables
.env

# Temporary files
*.tmp
*.bak

# Streamlit cache
.streamlit/secrets.toml

output/json/